.container {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .content {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    width: 30rem;
}

