@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn/Vazirmatn-Regular.woff2') format('woff2'),
         url('../fonts/Vazirmatn/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}