.container .info {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.info .cover {
    max-width: 20rem;
    min-width: 15rem;
    min-height: 22rem;
}

.info .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 50rem;
    text-align: justify;
    line-height: 1.8em;
}

.details .title {
    letter-spacing: 1px;
}

.details .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.links .link {
    color: var(--dark-gray);
    position: relative;
}

.links .link::before {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    bottom: -20%;
    height: 1px;
    background-color: var(--dark-gray);
    transition: all 0.1s;
    visibility: hidden;
}

.links .link:hover::before {
    visibility: visible;
    bottom: 0;
}

.links .link:hover {
    color: var(--gray);
}

.details .btn {
    width: auto;
}

.details .book-info {
    width: 100%;
    color: var(--gray);
}

.book-info span {
    color: var(--blue);
}